.background {
    background-color: #f6f6f6;
    height: 100vh;
}

.form-container {
    margin-top: 8%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.307);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    min-height: 77vh;
    margin-bottom: auto;
    transition: all 0.4s ease-in-out;
    background-color: white;
    overflow: auto;
}

.form-container:hover{
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.375);
    transform: translate(3px, -3px);
    animation: fadeIn 1s ease-in-out;
}

.dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.dropzone p {
    margin: 0;
}

.dropzone:hover {
    border-color: #aaa;
}

.delete-preview {
    position: absolute;
    top: 5px;
    height: 5px;
    width: 5px;
    border: none;
    cursor: pointer;
}

.delete-icon2{
    text-decoration: none;
    width: 20px;
    height: 20px;
    color: black;
    &:hover{
        color: red;
    }
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

.textarea{
    min-width: 31vw;
    min-height: 20vh;
}

label {
    margin-bottom: 10px;
    font-family: sans-serif;
    
    color: #333;
}

input[type="text"] {
    padding: 8px;
    border: none;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px;
    margin-right: 5px;
    /* background-color: #f6f6f6; */
    font-size: 16px;
    color: #333;
    width: 3vw;    
}

input[type="text2"]{
    padding: 8px;
    border: none;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px;
    margin-right: 5px;
    /* background-color: #f6f6f6; */
    font-size: 16px;
    color: #333;
    width: 10vw;
}

input[type="text3"] {
    padding: 8px;
    border: none;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px;
    margin-right: 5px;
    /* background-color: #f6f6f6; */
    font-size: 16px;
    color: #333;
    width: 30vw;
    height: 3vh;
}


.address, .other-details{
    display: flex;
    justify-content: space-between;
    width: 65%;
}



input[type="file"] {
    margin-bottom: 15px;
}

.submit {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;   
    margin-bottom: 2%;
}

.lerror {
    color: red;
    font-family: sans-serif;
}

/* .tour-icon-booked{
    margin-top: 5%;
} */

