.upcoming-tour {
    display: flex;
    margin-top: 20px;
    margin-left: 25%;
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.307);
    height: 30vh;
    margin-bottom: 16px;
}

.upcoming-tour:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.375);
    
}

.upcoming-tour img {
    width: 40%;
    height: 30vh;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 10px 0 0 10px;
   
}

.tour-details {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.tour-details h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.tour-details p {
    margin: 0;
    font-size: 14px;
    color: gray;
}
.profile-container{
    margin-top: 10%;
    /* align-items: center; */
    margin-bottom: 10%;
}


.fcontainer{
    margin-top: 15%;
}
.profile-page{
    /* display: flex; */
    background-color: #f5f5f5;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    overflow: auto;
}

.tab-navigation{
    display: flex;
    justify-content: space-evenly;
}

.bookings-button, .favorites-button{
    cursor: pointer;
    font-family: sans-serif;
    font-size: x-large;
}
.bookings-button:hover, .favorites-button:hover{
    color: #0074E4;
}

.bookings{
    align-items: center;
}

.favorites{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.fcard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    margin-bottom: 16px;
    width: 25vw;
    /* 32px is the total margin-right of 3 cards */
    height: 30vh;
    /* set a fixed height value */
    font-family: sans-serif;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.307);
}

.fcard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.375);
}

.fcard img {
    width: 100%;
    max-height: 50%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.fcard-body {
    padding: 16px;
}

.fcard-body h3 {
    font-size: 24px;
    margin: 0 0 8px;
}

.fcard-body p {
    font-size: 16px;
    margin: 0;
}

.fcard-body p:first-child {
    /* font-weight: bold; */
    margin-bottom: 8px;
}


.fcard-link {
    display: block;
    color: inherit;
    text-decoration: none;
}
.delete-icon{
    width: 30px;
    height: 30px;
    color: black;
}

.update-icon{
    width: 25px;
    height: 30px;
    color: black;
}

.delete-icon:hover{
    color: red;
}

.cancel-booking, .update-booking2{
    font-size: 16px;
    color: black;
}

.update-booking2{
    cursor: pointer;
}

 .update-booking:hover{
    transform: translate(-3px, -3px);
 }

.delete-booking:hover{
    transform: translate(-3px, -3px);
    cursor: pointer;
}

.confirmation-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    /* Adjust the z-index as needed to ensure the modal appears above other elements */
}

.confirmation-content {
    text-align: center;
    font-family: sans-serif;
}

.confirmation-content p {
    margin-bottom: 10px;
}

.confirmation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.confirmation-buttons button {
    margin: 0 10px;
}

.no-bookings-message, .no-favorites-message{
    font-family: sans-serif;
    position: relative;
    left: 35%;
}

.log-in-message{
    font-family: sans-serif;
    position: absolute;
    left: 40%;
    top: 30%;
}