/* TODO Add site wide styles */
.banner-text{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}


.home_page_background{
    width: 100%;
    height: 60vh;
    transform: translateY(15%);
}

.home-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}



.recently-added-text{  
    position: absolute;
    top: 72%;
    left: 10%;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: light;
    font-size: larger
}
