.profile-icon {
  position: absolute;
  top: calc(1vh + 10px);
  right: calc(7.5vw + 10px);
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #0074E4;
  cursor: pointer;
  font-size: 16px;
}

.profile-icon:hover {
  text-decoration: underline;
}

.fa-solid.fa-user-circle {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  color: #555;
}

.profile-dropdown {
  position: absolute;
  top: calc(3vh + 40px);
  right: calc(6vw + 40px);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  list-style: none;
  margin: 0;
}

.profile-dropdown li {
  margin-bottom: 10px;
}

.profile-dropdown li:last-child {
  margin-bottom: 0;
}

.profile-dropdown a {
  color: #0074E4;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.welcome{
  font-family: sans-serif;
}

.profile-dropdown button{
  display: block;
  width: 100%;
  padding: 5px;
  background-color: transparent;
  color: #0074E4;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
}

.profile-dropdown button:hover{
  text-decoration: underline;
}

.home {
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}



.session-links{
  position: absolute;
  top: calc(3vh + 10px);
  right: calc(8vw + 10px);
  padding-inline-start: 5%;
  display: flex;
  align-items: center;
}


.logo {
  /* display: block; */
  /* height: auto; */
  max-width: 40%;
  margin-left: 30%;
}


.session-links > * {
  margin-left: 30px;
  
}

.demo {
  display: inline-block;
  color: #000;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.demo:hover {
  color: #007ac9;
} 

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 11vh;
  background-color: #fff;
  z-index: 1;
  border-bottom: #000;
}

.create-listing{
  position: absolute;
  top: calc(3vh + 10px);
  right: calc(15vw + 10px);
  display: inline-block;
  color: #000;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
}

.create-listing:hover{
  color: #007ac9;
  transition: color 0.3s ease-in-out;
}
.searchbar{
  position: absolute;
  top: calc(3vh + 10px);
  left: calc(6vw + 10px);
  font-family: sans-serif;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  width: 70%;
}

.searchbar a{
  margin-right: 5%;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  color: black;
}

.searchbar a:hover{
  color: #007ac9;
  transition: color 0.3s ease-in-out;
}

.filters{
  display: flex;
  margin-top: 10%;
  justify-content: space-between;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}